* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei",serif;
	box-sizing: border-box; 
}

.header {
	position: fixed;
	width: 100%;
	height: 100px;
	background: #07cbc9;
	z-index: 3;
}

.header .logo {
	float: left;
	padding-left: 100px;
	padding-top: 25px;
	width: 20%;
}

.header .nav {
	float: right;
	color: #fff;
	padding-right: 100px;
	font-weight: bold;
}

.header .nav ul li {
	float: left;
	list-style-type: none;
	height: 100px;
	line-height: 100px;
	width: 100px;
	text-align: center;
	cursor: pointer;
}

.header .nav ul li:hover {
	background-color: #000;
}

.banner {
	padding-top: 100px;
	width: 100%;
}

.banner .banner-image img {
	width: 100%;
	height: 500px;
}

.banner .banner-image-top {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	height: 500px;
	background-color: #000;
	opacity: 0.5;
}

.banner .inputs {
	position: absolute;
	top: 350px;
	right: 50%;
	margin-top: -150px;
	margin-right: -250px;
	width: 500px;
	height: 300px; 
	z-index: 2;
	text-align: center;
	color: #b7bcbd;
}

.banner .inputs input {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	border: 1px solid gray;
	background-color: transparent;
}

.banner .inputs textarea {
	width: 100%;
	height: 150px;
	border: 1px solid gray;
	background-color: transparent;
}

.banner .inputs .submit {
	width: 140px;
	height: 50px;
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
	color: #b7bcbd;
	cursor: pointer;
}

.banner .inputs input:hover {
	border: 2px solid #07cdc9;
}
.banner .inputs textarea:hover {
	border: 2px solid #07cbc9;
}

.banner .inputs .submit:hover {
	background-color: #07cbc9;
	color: #fff;
}

.about {
	width: 100%;
	padding-top: 40px;
}

.about-top {
	text-align: center;
	margin-right: 20px;
}

.about-top h1 {
	font-weight: bold;
}

.about-top hr {
	margin: 10px 48%;
	width: 4%;
	background-color: #07cbc9;
	height: 3px;
	border: 0;
}

.about-top p {
	color: gray;
}

.about .about-middle {
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	text-align: center;
}

.about-middle-left,
.about-middle-right {
	float:left;
	width: 20%;
}

.about-image {
	float: left;
}

.about .about-middle .about-image {
	padding: 0 20px;
}

.about .about-middle .about-image img {
	width: 520px;
	height: 348px;
}

.about .about-middle .about-middle-right div {
	border: 1px solid #07cbc9;
	margin-bottom: 20px;
	width: 250px;
	height: 120px;
	font-weight: bold;
	padding-top: 25px;
}

.about .about-middle .about-middle-right hr {
	width: 20px;
	height: 2px;
	border: 0;
	background-color: #07cbc9;
	margin: 10px 115px;
}

.about .about-middle .about-middle-left .layer {
	position: absolute;
	margin-top: 10px;
	padding: 20px 10px;
	background-color: #fff;
	opacity: 0.6;
	border: 0.05em solid gray;
	text-align: left;
}

.about .about-middle .about-middle-left .layer input {
	margin-top: 15px;
	padding: 7.5px 5px;
	background-color: #000;
	color: #fff;
	border: 0;
}

.about .about-bottom {
	width: 100%;
	height: 530px;
}

.about .about-bottom img,
.about .about-bottom div {
	float: left;
	width: 25%;
	height: 265px;
}

.about .about-bottom div {
	text-align: center;
	padding:15px 20px 0;
	background-color: #07cbc9;
}

.about .about-bottom h3,
.about .about-bottom p {
	text-align: left;
}

.about .about-bottom div p {
	padding-top: 15px;
}

.about .about-bottom div p:nth-child(3){
	font-size: 0.75em;
	color: gray;
}

.about .about-bottom div input {
	margin-top: 15px;
	padding: 7.5px 5px;
	background-color: #000;
	color: #fff;
	border: 0;
}

.gallery {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	height: 616px;
}

.gallery .gallery-images {
	width: 836px;
	height: 422px;
	margin: 0 auto;
}

.gallery .gallery-images div {
	float: left;
	margin: 10px;
	background-color: #000;
}

.gallery .gallery-images div p {
	color: white;
	padding-bottom: 4px;
	font-size: 0.5em;
}

.gallery .gallery-images div img {
	width: 252px;
	height: 168px;
}

.footer {
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: #07cbc9;
	text-align: center;
	color: #fff;
}